<template name="nav">
  <div id="menuDiv" class="ui pointing container stackable menu">
    <a class="item" href="/">Home</a>
    <div class="ui dropdown item">
      Artists<i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{pathFor route='artists'}}"><i class="music icon"></i> Everyone</a>
        <a class="item" href="{{pathFor route='philt3r'}}"><i class="music icon"></i> @philt3r</a>
        <a class="item" href="{{pathFor route='bizzle'}}"><i class="music icon"></i> Bizzle</a>
        <a class="item" href="{{pathFor route='hot-wire'}}"><i class="music icon"></i> Hot Wire</a>
      </div>
    </div>
    <div class="ui dropdown item">
      Releases<i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{pathFor route='releases'}}"><i class="music icon"></i> Everyone</a>
        <a class="item" href="{{pathFor route='philt3rReleases'}}"><i class="music icon"></i> @philt3r</a>
        <a class="item" href="{{pathFor route='bizzleReleases'}}"><i class="music icon"></i> Bizzle</a>
        <a class="item" href="{{pathFor route='hot-wireReleases'}}"><i class="music icon"></i> Hot Wire</a>
      </div>
    </div>
    <div class="ui dropdown item">
      Mixes<i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{pathFor route='mixes'}}"><i class="music icon"></i> Everyone</a>
        <a class="item" href="{{pathFor route='philt3rMixes'}}"><i class="music icon"></i> @philt3r</a>
        <a class="item" href="{{pathFor route='bizzleMixes'}}"><i class="music icon"></i> Bizzle</a>
        <a class="item" href="{{pathFor route='hot-wireMixes'}}"><i class="music icon"></i> Hot Wire</a>
      </div>
    </div>
    <div class="right menu">
      {{> atNavButton}}
    </div>
  </div>
</template>
