<template name="artists">
  <h1>Artists</h1>

  <div class="row">
    <div class="col-lg-3 col-sm-6">

      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <img alt="" src="images/artists/philt3r-bush.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://soundcloud.com/philt3r">@philt3r</a>
          </div>
          <div class="desc">Progressive Psy</div>
          <div class="desc">Techno</div>
          <div class="desc">Deep House</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-md" href="https://twitter.com/webmaniac">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-md" rel="publisher"
             href="https://plus.google.com/+ahmshahnuralam">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-md" rel="publisher"
             href="https://plus.google.com/shahnuralam">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-warning btn-md" rel="publisher" href="https://plus.google.com/shahnuralam">
            <i class="fa fa-behance"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
