<template name="artists">
  <div class="ui stackable link three cards">
    <div class="card">
      <div class="image">
        <img alt="" src="images/artists/philt3r-bush.jpeg">
      </div>
      <div class="content">
        <div class="header">@philt3r</div>
        <div class="meta">
          <a>Techno</a>
          <a>Deep House</a>
          <a>Psy-trance</a>
        </div>
        <div class="description">
          @philt3r, is not a metaphor for a side affect, but rather a side affect of a metamorphosis. For a decade, he has planted smiles and swivelled dials along that great stretch of party paradise that is the east-coast of Australia and his sets end up spanning more genres than a well thought out
          <a class="item" href="{{pathFor route='philt3r'}}"><i class="music icon"></i> read more</a>
        </div>
      </div>
      <div class="extra content">
        <a href="/philt3r/releases" class="right floated">
          <i class="play circle icon"></i>
          Releases
        </a>
        <a href="/philt3r/mixes">
          <i class="play sign icon"></i>
          Mixes
        </a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img alt="" src="images/artists/bizzle.png">
      </div>
      <div class="content">
        <div class="header">Bizzle</div>
        <div class="meta">
          <a>Breaks</a>
        </div>
        <div class="description">
          Josh Warren AKA ‘Bizzle’ has always held a passion for anything broken and electronic. Hoarding broken electronic toys from age six, he was always unsure what attracted him to the distorted beats and bleeps these things made .The years grew longer but his interest in broken electronic ...
          <a class="item" href="{{pathFor route='bizzle'}}"><i class="music icon"></i> read more</a>
        </div>
      </div>
      <div class="extra content">
        <a href="/bizzle/releases" class="right floated">
          <i class="play circle icon"></i>
          Releases
        </a>
        <a href="/bizzle/mixes">
          <i class="play sign icon"></i>
          Mixes
        </a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img alt="" src="images/artists/teejay.jpg">
      </div>
      <div class="content">
        <div class="header">Hot Wire</div>
        <div class="meta">
          <a>Deep House</a>
        </div>
        <div class="description">
          Get a dog up ya trackies no dramas get a dog up ya squizz. Built like a bloke heaps he's got a massive galah. Lets throw a spewin' bloody he's got a massive apples. Trent from punchy kindie flamin stands out like a spag bol. He hasn't got a two up where gutful of bail up. You little ripper bities (read more)...
          <a class="item" href="{{pathFor route='hot-wire'}}"><i class="music icon"></i> read more</a>
        </div>
      </div>
      <div class="extra content">
        <a href="/hot-wire/releases" class="right floated">
          <i class="play circle icon"></i>
          Releases
        </a>
        <a href="/hot-wire/mixes">
          <i class="play sign icon"></i>
          Mixes
        </a>
      </div>
    </div>
  </div>
</template>
