<template name="home">
  <div class="ui">
    <img src="images/ohmtap.png" width="100%"/>

    <p class="lead">Ohmtap Music is a multi genre label based around the psychedelic outdoor sounds.
      What started as a few friends putting on small Psy Trance Parties has grown over the years.
      Offtap Productions has become known for their outdoor gatherings having been putting them on for over five years.
      Connections have been made over the years through booking international artists on tour to local album launches
      and now there is a demand for the sounds heard from these events.
      Ohmtap Music was created to share the music and good vibes with the people. Tp help expose the local and
      interstate artists on a global level. Allowing their art to be at the finger tips of music lovers worldwide.

      OhmTap Music Management
      Is an internationally recognized artist management organization.
      Our passion is networking our talented artists with local Interstate and International audiences. Taking music
      global is all about networking our communitys. We aim to inject our positive vibes all around the world by hosting
      a diverse range of electronic music artists that you would expect to see at an Off Tap Production event.</p>
  </div>
</template>
